In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('SMM4H-2022-Task4-Training.tsv', sep='\t')
valid = pd.read_csv('SMM4H-2022-Task4-Validation.tsv', sep='\t')
test = pd.read_csv('SMM4H-2022-Task4-Test-Unlabeled.tsv', sep='\t')
result = pd.read_csv('result.tsv', sep='\t')
result.describe()

           tweet_id         label
count  1.000000e+04  10000.000000
mean   8.492759e+17      0.338500
std    1.975274e+17      0.473223
min    2.501753e+09      0.000000
25%    7.232090e+17      0.000000
50%    8.798601e+17      0.000000
75%    9.990626e+17      1.000000
max    1.178822e+18      1.000000

In [6]:
train

,tweet_id,text,label
0,1112273204582801408,at 50 votes i will close this survey and take ...,0
1,993749367512170496,"21st birthday and nearly 4 months pregnant, no...",1
2,847896906407624704,@_DudeThePie // I'd be killed. He's literally ...,0
3,550649598206050305,"This year I'm gonna become a mum and turn 20, ...",1
4,742508883630030848,Don't mind me. Just freaking out because Mary-...,0
...,...,...,...
8795,723184609429721089,Happy Birthday Brandon James. Hope you have a ...,0
8796,998512138187689985,"@JonBaker At age 50, I remember cheering ""bana...",0
8797,525498743756685312,Them Springfield mall pictures.. lol. #va #bda...,1
8798,745289059300446208,@316Andres88 when we turn 18 were going idgaf ...,0
8799,903984470021328897,@JanielftJano @Janielkawaii Fanmeosmwhskd me w...,0

In [4]:
len(train.label)+len(valid.label)

11000

In [5]:
len(test.tweet_id)

10000

In [4]:
train.label.value_counts()

0    5966
1    2834
Name: label, dtype: int64

In [6]:
valid.label.value_counts()

0    1491
1     709
Name: label, dtype: int64

In [8]:
# ids = []
# texts = []
# labels = []

# with open('SMM4H-2022-Task4-Training.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==3
#         ids.append(item_list[0])
#         texts.append(item_list[1])
#         labels.append(item_list[2])
        
# train_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:],
#                         'label':labels[1:]
#                        })
# train_tweet.to_csv('SMM4H-2022-Task4-Training.tsv',sep='\t')

In [9]:
# ids = []
# texts = []
# labels = []

# with open('SMM4H-2022-Task4-Validation.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==3
#         ids.append(item_list[0])
#         texts.append(item_list[1])
#         labels.append(item_list[2])
        
# valid_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:],
#                         'label':labels[1:]
#                        })
# valid_tweet.to_csv('SMM4H-2022-Task4-Validation.tsv',sep='\t')

In [10]:
# ids = []
# texts = []

# with open('SMM4H-2022-Task4-Test-Unlabeled.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==2
#         ids.append(item_list[0])
#         texts.append(item_list[1])
        
# test_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:]
#                        })
# test_tweet.to_csv('SMM4H-2022-Task4-Test-Unlabeled.tsv',sep='\t')

# 5 fold

In [14]:
merge_df = pd.concat([train,valid])

In [15]:
merge_df.to_csv('merge.tsv', sep='\t')

In [3]:
merge_df = pd.read_csv('merge.tsv', sep='\t')
merge_df = merge_df.drop('Unnamed: 0',axis=1)
merge_df

,tweet_id,text,label
0,1112273204582801408,at 50 votes i will close this survey and take ...,0
1,993749367512170496,"21st birthday and nearly 4 months pregnant, no...",1
2,847896906407624704,@_DudeThePie // I'd be killed. He's literally ...,0
3,550649598206050305,"This year I'm gonna become a mum and turn 20, ...",1
4,742508883630030848,Don't mind me. Just freaking out because Mary-...,0
...,...,...,...
10995,1028649935648907264,Please help me realize this dream! I need to g...,0
10996,993551429175595008,"@8richard6 @KeepTexasRed7 Sad to say, this is ...",0
10997,984557822179446784,@anotherseminole Damn true I had them for the ...,1
10998,866406748923600896,"My birthday , 22 May üíúüéà",0
10999,1043357669271134211,"@ActorMadhavan Hello sir, I'm Digvijay and tod...",0

In [17]:
size = len(merge_df.label)
for i in range(5):
    merge_df[int(i*0.2*size):int((i+1)*0.2*size)].to_csv('validation_{}.tsv'.format(i), sep='\t')
    merge_df.drop(list(range(int(i*0.2*size),int((i+1)*0.2*size)))).to_csv('train_{}.tsv'.format(i), sep='\t')

# pseudo

In [4]:
pred = pd.read_csv('result.tsv', sep='\t')
pseudo = pd.concat([pred,merge_df]).sample(frac=1)
pseudo

,tweet_id,text,label
7980,936439761899851776,"all my friends are turning 21 in 2018, finally",0
7259,974050132948758528,Another day at the office üòä giving our time ba...,0
8434,874228184174149632,"It's also National Red Rose, &amp; Loving Day....",0
8429,948669843208884224,You know who is irredeemably unintelligent to...,0
317,822293370508718080,Literally the only thing I care about once I t...,1
...,...,...,...
7500,1178183223249113088,I just learned how to properly wrap my hair at...,0
2452,1039170448733466624,But all these are things I was taught alongsid...,0
1327,892489486050799616,@TweetLikeAGirI 11 years young https://t.co/zb...,0
2658,577506188562141184,My 21st birthday is a month from tomorrow üòÅüíÉ,1
7755,1050200402451488768,@bwaystorm i don‚Äôt like it anymore but i used ...,0

In [5]:
pseudo.to_csv('pseudo.tsv', sep='\t')
pseudo = pd.read_csv('pseudo.tsv', sep='\t')
pseudo = pseudo.drop('Unnamed: 0',axis=1)

In [6]:
size = len(pseudo.label)
for i in range(5):
    pseudo[int(i*0.2*size):int((i+1)*0.2*size)].to_csv('validation_{}.tsv'.format(i), sep='\t')
    pseudo.drop(list(range(int(i*0.2*size),int((i+1)*0.2*size)))).to_csv('train_{}.tsv'.format(i), sep='\t')